table {
    border-collapse: collapse;
    text-align: center;
    background-color: beige;
}

marquee {
    font-size: 4rem;
}

button {
    border-radius: 20px;
    background-color: bisque;
}

button ::hover {
    background-color: beige;
}